.header {
    margin-top: 5rem;
    font-size: 1.4rem;
    color: $color-white;

    &__background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 646px;
        background: url(../assets/desktop/image-hero.jpg) no-repeat top center;
    }

    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;        
    }
    
    .logo {
        width: 180px;
        height: 32px;
        z-index: 2;

        svg {
            width: 100%;
        }
    }

    &__menu {

        &--toggle {
            display: flex;
        }
    
    
        ul {
            display: flex;
            gap: 3rem;

            li {            
                position: relative;
            }

            li:hover {

                &::after {
                    content: '';
                    display: block;
                    background-color: $color-white;
                    width: 50%;
                    height: 2px;
                    position: absolute;
                    bottom: -10px;
                    transform: translateX(50%);
                }
            }
        }
    }

    .icon-hamburguer, .icon-close {
        display: none;
    }    

    .active {
        display: block;
    }

    .disabled {
        display: none;
    }



    @media screen and (max-width: $break-mobile) {

        &__background {
            background: url(../assets/mobile/image-hero.jpg) no-repeat;
            background-size: cover;
            height: 100%;
            z-index: -1;
        }

        .icon-hamburguer {
            display: block;
        }

        .icon-close {
            position: relative;
            z-index: 2;
        }
    
        &__menu {
            display: none;
        }

        &__menu ul {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-start;
            gap: 2rem;
            width: 100%;
            height: 100%;
            background-color: $color-black;
            position: absolute;
            top: 0;
            left: 0;
            padding: 22rem 3.5rem;
            z-index: 1;

            li {
                display: inline;
                font-family: Josefin Sans, sans-serif;
                font-size: 2.6rem;
                text-transform: uppercase;

                &::after {
                    transform: inherit !important;
                }
            }
        }
    }
}