* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  font-size: 10px;
  font-family: "Alata", sans-serif;
}

body {
  width: 100%;
  height: 100%;
}

.fixed {
  position: fixed;
}

li {
  list-style: none;
}

a {
  all: unset;
  cursor: pointer;
}

.container {
  max-width: 144rem;
  width: 77%;
  margin: 0 auto;
}
@media screen and (max-width: 750px) {
  .container {
    width: 85%;
  }
}

.header {
  margin-top: 5rem;
  font-size: 1.4rem;
  color: hsl(0deg, 0%, 100%);
}
.header__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 646px;
  background: url(../assets/desktop/image-hero.jpg) no-repeat;
  background-size: 100%;
}
.header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  width: 180px;
  height: 32px;
  z-index: 2;
}
.header .logo svg {
  width: 100%;
}
.header__menu--toggle {
  display: flex;
}
.header__menu ul {
  display: flex;
  gap: 3rem;
}
.header__menu ul li {
  position: relative;
}
.header__menu ul li:hover::after {
  content: "";
  display: block;
  background-color: hsl(0deg, 0%, 100%);
  width: 50%;
  height: 2px;
  position: absolute;
  bottom: -10px;
  transform: translateX(50%);
}
.header .icon-hamburguer, .header .icon-close {
  display: none;
}
.header .active {
  display: block;
}
.header .disabled {
  display: none;
}
@media screen and (max-width: 750px) {
  .header__background {
    background: url(../assets/mobile/image-hero.jpg) no-repeat;
    background-size: cover;
    height: 100%;
    z-index: -1;
  }
  .header .icon-hamburguer {
    display: block;
  }
  .header .icon-close {
    position: relative;
    z-index: 2;
  }
  .header__menu {
    display: none;
  }
  .header__menu ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    gap: 2rem;
    width: 100%;
    height: 100%;
    background-color: hsl(0deg, 0%, 0%);
    position: absolute;
    top: 0;
    left: 0;
    padding: 22rem 3.5rem;
    z-index: 1;
  }
  .header__menu ul li {
    display: inline;
    font-family: Josefin Sans, sans-serif;
    font-size: 2.6rem;
    text-transform: uppercase;
  }
  .header__menu ul li::after {
    transform: inherit !important;
  }
}

.section-first {
  margin-top: 10vw;
  position: relative;
  z-index: 0;
}
.section-first h1 {
  max-width: 65rem;
  border: 1px solid hsl(0deg, 0%, 100%);
  padding: 3rem;
  font-family: Josefin Sans, sans-serif;
  font-weight: 300;
  font-size: 7.2rem;
  color: hsl(0deg, 0%, 100%);
  text-transform: uppercase;
}
@media screen and (max-width: 750px) {
  .section-first h1 {
    max-width: 380px;
    margin-top: 20rem;
    font-size: 3.5rem;
  }
}

.section-second {
  margin-top: 25rem;
  display: flex;
  align-items: flex-end;
}
.section-second__img {
  max-width: 73.1rem;
}
.section-second__img img {
  width: 100%;
}
.section-second__info {
  max-width: 42rem;
  background-color: hsl(0deg, 0%, 100%);
  padding: 6rem 0 0 6rem;
  position: relative;
  right: 16rem;
}
.section-second__info h2 {
  font-family: Josefin Sans, sans-serif;
  font-weight: 300;
  font-size: 3.5rem;
  text-transform: uppercase;
}
.section-second__info p {
  margin-top: 2rem;
  font-size: 1.4rem;
  color: hsl(0deg, 0%, 41%);
  line-height: 2rem;
}
@media screen and (max-width: 750px) {
  .section-second {
    margin-top: 35rem;
    flex-direction: column;
    align-items: center;
  }
  .section-second__info {
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    position: inherit;
    padding: inherit;
    margin-top: 4rem;
    text-align: center;
  }
  .section-second__info p {
    padding: 0 1.5rem;
    line-height: 2.5rem;
  }
}

.section-third {
  margin-top: 12rem;
}
.section-third__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: hsl(0deg, 0%, 0%);
  text-transform: uppercase;
}
.section-third__top h2 {
  font-family: Josefin Sans, sans-serif;
  font-size: 3.5rem;
  font-weight: 300;
}
.section-third__top a {
  font-family: "Alata", sans-serif;
  font-size: 1.2rem;
  color: hsl(0deg, 0%, 0%);
  text-decoration: none;
  border: 1.5px solid hsl(0deg, 0%, 0%);
  padding: 1rem 3rem;
  letter-spacing: 0.3rem;
}
.section-third__top a:hover {
  background-color: hsl(0deg, 0%, 0%);
  color: hsl(0deg, 0%, 100%);
}
.section-third__grid {
  margin-top: 4rem;
  display: grid;
  grid-template: auto auto/repeat(4, 1fr);
  gap: 2rem;
}
.section-third__grid--item {
  position: relative;
}
.section-third__grid--item::after {
  content: "";
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.section-third__grid--item:hover img {
  opacity: 0.3;
}
.section-third__grid--item:hover span {
  color: hsl(0deg, 0%, 0%);
}
.section-third__grid img {
  width: 100%;
  height: 100%;
}
.section-third__grid span {
  position: absolute;
  bottom: 0;
  left: 0;
  font-family: Josefin Sans, sans-serif;
  font-size: 2.8rem;
  font-weight: 300;
  color: hsl(0deg, 0%, 100%);
  text-transform: uppercase;
  padding: 2.8vw;
  z-index: 2;
}
@media screen and (max-width: 750px) {
  .section-third {
    margin-top: 10rem;
    position: relative;
    padding-bottom: 7rem;
  }
  .section-third__top {
    justify-content: center;
  }
  .section-third__top h2 {
    font-size: 3rem;
  }
  .section-third__top a {
    position: absolute;
    bottom: 0;
  }
  .section-third__grid {
    grid-template: auto/1fr;
  }
  .section-third__grid--item {
    position: relative;
  }
  .section-third__grid--item::after {
    background: hsl(0deg, 0%, 0%);
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 30%, rgba(255, 255, 255, 0) 100%);
  }
  .section-third__grid span {
    font-size: 2.2rem;
    padding: 2rem;
  }
}

.footer {
  margin-top: 15rem;
  background-color: hsl(0deg, 0%, 0%);
  padding: 4rem 0;
  color: hsl(0deg, 0%, 100%);
  position: relative;
}
.footer .wrapper {
  display: flex;
  justify-content: space-between;
  height: 60px;
}
.footer__left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer__logo {
  width: 150px;
}
.footer__nav {
  font-size: 1.2rem;
}
.footer__nav ul {
  display: flex;
  gap: 3rem;
}
.footer__nav ul li {
  position: relative;
}
.footer__nav ul li:hover::after {
  content: "";
  display: block;
  background-color: hsl(0deg, 0%, 100%);
  width: 50%;
  height: 2px;
  position: absolute;
  bottom: -10px;
  transform: translateX(50%);
}
.footer__right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer__social {
  display: flex;
  justify-content: flex-end;
}
.footer__social a {
  display: inline-block;
  position: relative;
  margin-left: 1.2rem;
}
.footer__social a:hover::after {
  content: "";
  display: block;
  background-color: hsl(0deg, 0%, 100%);
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: -8px;
}
.footer__allrights {
  font-size: 1.2rem;
  color: hsl(0deg, 0%, 41%);
}
.footer .attribution {
  position: absolute;
  bottom: 5px;
  right: 11.5%;
  text-align: right;
}
.footer .attribution a {
  color: hsl(207deg, 87%, 66%);
}
@media screen and (max-width: 750px) {
  .footer {
    margin-top: 8rem;
    padding: 5rem 0;
  }
  .footer .wrapper {
    height: auto;
    flex-direction: column;
    align-items: center;
  }
  .footer__nav ul {
    margin-top: 4rem;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    text-align: center;
    font-size: 1.4rem;
  }
  .footer__social {
    margin-top: 4rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
  .footer__allrights {
    margin-top: 1rem;
  }
}/*# sourceMappingURL=main.css.map */